<div class="control">
  <input type="submit" id="addNewItem" value="Добавить тему">
</div>
<h2>Список разделов и тем</h2>
<div class="sections-list">
  <% for( var i = 0; i < sectionsList.length; i++) {%>
    <div class="section">
      <h3><%= sectionsList[i].title %></h3>
      <ul class = "items">
        <% for( var j = 0; j < sectionsList[i].itemsList.length; j++) {%>
          <li data-id="<%=sectionsList[i].itemsList[j].id %>"><%= sectionsList[i].itemsList[j].title %></li>
        <% }; %>
      </ul>
    </div>
  <% }; %>
</div>
<div class="blackBackground hide"></div>
<form action="javascript:void(0);" class="hide" name="new-item">
    <h2>Создание темы</h2>
    <label> Раздел
      <select name="section">
        <% for( var i = 0; i < sectionsList.length; i++) {%>
            <option value="<%=sectionsList[i].title%>"><%=sectionsList[i].title%></option>
        <% }; %>
      </select>
    </label>
    <label>Название темы
      <input type="text" name="titleItem">
    </label><br>
    <input type="submit" value="Создать" id="addItem">
</form>
